
            body{
                margin:0px;
            }
            .header{
                justify-content:space-between;
                display:flex;
                color:white;
                font-family:poppins;
                align-items:center;
                padding: 0px 60px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../images/background.jpg);
            }
            .header button{
                background-color:#f0f0f0;
                font-size:16px;
                font-weight:550;
                padding: 8px 12px;
                border:2px solid black;
                border-radius:10px;
            }
            .button{
                background-color:#f0f0f0;
                font-size:16px;
                font-weight:550;
                padding: 8px 12px;
                border:2px solid black;
                border-radius:10px;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                color: #588c7e;
                font-family: monospace;
                font-size: 25px;
                text-align: left;
                }
                th {
                background-color: #588c7e;
                color: white;
                }
                tr:nth-child(even) {background-color: #f2f2f2}